// Custom styles.

/************* 首页美化 **************/

// 页面头部背景
.header {
  /* 本地 */
  /* background: url(/images/header_background.jpg); */
  /* 七牛云存储 */
  background: url(http://pbt09wmis.bkt.clouddn.com/image/bg/head.jpg);
}

// 头部inner
.header-inner {
  margin:0 auto;
  padding: 70px 0 47px;
  width: 100%;
}

// 标题背景
.brand {
  background: transparent; // 透明
}

// 标题
.site-title {
  display: inline-block;
  vertical-align: top;
  line-height: 36px;
  font-size: 48px;
  font-weight: normal;
  font-family: 'Lobster Two', 'Roboto Slab', "PingFang SC", "Microsoft YaHei", sans-serif;
}

// 副标题
.site-subtitle {
  font-size: 15px;
  color: #fff;
}

// 菜单栏
.menu {
  margin-top: 20px;
  padding-left: 0;
  text-align: center;
  background: rgba(240, 240, 240, 0.5);
  margin-left: auto;
  margin-right: auto;
  width: 530px;
  border-radius: initial;
}

// 菜单图表链接 以及 超链接样式

/*a {
    color: rgba(0,0,0,0.8);
}
a:hover {
    color: #ff106c;
    border-bottom-color: #ff106c;
}*/

// 菜单字体大小

/*.menu .menu-item a {
    font-size: 14px;
}
.menu .menu-item a:hover {
    border-bottom-color: #ff106c;
}*/

// 文章背景阴影
.post {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5); //太暗了，看不见
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  box-shadow: 0 0 5px rgba(202, 203, 203, .5);
}
// 文章标题文字颜色
.posts-expand .post-title-link {
  color: rgba(0,0,0,0.9);
}

// 站点描述
.site-description {
  font-size: 16px;
}

// 侧边栏，作者名
.site-author-name {
    /*font-family: 'Comic Sans MS', sans-serif;*/
    font-size: 20px;
}
// 文章之间的分割线
/*.posts-expand .post-eof {
    margin: 40px auto 40px;
    background: white;
}*/

// 版权中间的图标
.with-love{
  color: #ff0000;
}
// 版权中间的图标（动画）
#animate{
  animation: iconAnimate 1.33s ease-in-out infinite
}
@-moz-keyframes iconAnimate {
  0%, 100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  10%, 30% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  50%, 70% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-webkit-keyframes iconAnimate {
  0%, 100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  10%, 30% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  50%, 70% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-o-keyframes iconAnimate {
  0%, 100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  10%, 30% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  50%, 70% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes iconAnimate {
  0%, 100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  10%, 30% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  50%, 70% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}


/************* 文章美化 **************/

//  行代码块样式
code {
  color: #ff7600;
  background: #fbf7f8;
  margin: 2px;
}

//  大代码块自定义样式
.highlight,
pre {
  margin: 5px 0;
  padding: 5px;
  border-radius: 3px
}

.highlight,
code,
pre {
  border: 1px solid #d6d6d6;
}
